@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&family=Rubik+Maze&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'JetBrains Mono', monospace;
}

.title-font {
	font-family: 'Rubik Maze', sans-serif;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
}

.mw {
	min-width: 20%;
}

.snow > * {
	z-index: -50;
}

.pshadow {
	box-shadow: 0 0 10px #dc2625, inset 0 0 10px #dc2625;
}

.dualbg:hover {
	background-color: #dcdcdc;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.mbg {
	background-image: url('/bg.svg');
}

body {
	@apply bg-primary;
}

.ssh {
	box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.mbox {
	@apply p-6 bg-white rounded border border-black ssh;
	overflow: auto;
}

.mbtn:hover {
	box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.25);
}

.mbtn:active {
	box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
}

.btna {
	@apply bg-primary;
}

.striped p:nth-child(even) {
	@apply bg-gray-200;
}

.robot {
	animation: robo 2s infinite ease-in-out;
}

@keyframes robo {
	0% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(15deg);
	}
}

.swoop-in {
	transform: translateX(100%);
	animation: sin 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes sin {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
